h1= title
form( method="post")
    div
        div
            div Title :
            input(type="text", name="title", id="editArticleTitle")
        div
            div Body :
            textarea( name="body", rows=20, id="editArticleBody)
        div#editArticleSubmit
            input(type="submit", value="Add Blog Post")